html {
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.middle {
  align-items: center;
  align-content: center;
}

.wrapper {
  width: 240px;
}
.header {
  background-color: #6c41c1;
  height: 40px;
  font-size: 15px;
  color: #fff;
}
.main {
  padding: 10px;
  line-height: 24px;
}
.form-title {
  
}
.form-row {
  /* padding: 0 10px; */
  color: #818181;
}
input[type=checkbox] {
  cursor: pointer;
}
.submit-box {
  padding: 10px 0;
}
#submit-btn {
  width: 100%;
  display: block;
  line-height: 1;
  padding: 6px 16px;
  background-color: #8a6ce8;
  color: #fff;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.footer {
  height: 22px;
}
#message.info {
  background-color: #2080f0;
}
#message.success {
  background-color: #18a058;
}
#message.warning {
  background-color: #f0a020;
}
#message.error {
  background-color: #d03050;
}
#message {
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  display: none;
}